---
import { getCollection } from 'astro:content';
import { LOCALES } from '@common/constants';
import BaseLayout from '@layouts/BaseLayout.astro';

type Params = {
  lang: keyof typeof LOCALES;
  tag: string
};

const { lang, tag } = Astro.params as Params;

if (!(lang in LOCALES)) return Astro.redirect('/en/');

const posts = await getCollection('post', ({ id }) => id.startsWith(`${lang}/`));
const filteredPosts = posts.filter((post) => post.data.tags.includes(tag))
---

<BaseLayout title={tag}>
	<div class="flex flex-col gap-6">
		<h2 class="text-2xl">Posts tagged with {tag}</h2>
		<ul class="divide-y divide-zinc-400">
			{filteredPosts.map((post) => (
				<li>
					<a class="py-1 flex justify-between" href={`/${lang}/posts/${post.slug}`}>
						<span class="w-3/4">{post.data.title}</span>
						<span class="text-sm uppercase text-black/40 dark:text-white/40">guide ~ {post.data.date.toLocaleDateString(LOCALES[lang])}</span>
					</a>
				</li>
			))}
		</ul>
	</div>
</BaseLayout>
